<!DOCTYPE html>
<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <title><%= title %></title>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div style="position:absolute;top:10px;right:10px">
    <form action="/signout" >
    Hi <span style="text-transform:capitalize;"><%= username %></span> <button name="signout" type="submit">Sign Out</button>
    </form>
    </div>
    <% if(lastlogin) {%>
    <div style="position:absolute;top:80px;right:20px"><i>last visited on <%= lastlogin %></i></div>
    <% } %>
    <div style="position:absolute;top:40px;right:120px">
    <form action='/add'>
    <button name="add" type="submit">Add Place</button>
    </form>
    </div>
    <div style="position:absolute;top:40px;right:10px">
    <form action='/fetchplaces'>
    <button name="remove" type="submit">Remove Place</button>
    </form>
    </div>
    <div style="position:absolute;top:40px;right:205px">
    <form action='/myaccount' method="post">
    <button name="myaccount" type="submit">My Account</button>
    </form>
    </div>
    <script>
  $(function() {
    var availableTags = [
      "Restaurants",
      "Food",
      "Shopping",
      "nightlife",
      "Japanese",
      "Coffee & Tea",
      "Chinese",
      "Bars",
      "Beauty & Spas",
      "Automotive",
      "Home Services",
      "Health & Medical",
      "Local Serices",
      "Hotels & Travel",
      "Professional Services",
      "Real Estate",
      "Education",
      "Financial Services",
      "Active Life",
      "Arts & Entertainment",
      "Religious Organizations",
      "Public Services"
    ];
   
    $( "#search" ).autocomplete({
      source: availableTags
    });
   
  });
  </script>
  </head>
  <body>
  <p><br>
  <form action="/search" method="get">
  <div class="ui-widget">
  		<div style="color:blue;font-size:200%;top:-40px;position:relative;">Yelp</div>
	  <input id="search" name="search" type="text" placeholder="search item" style="height:25px">
	  <input name="place" type="text" placeholder="city name or zipcode" style="height:25px">
	  <input name="search1" type="submit" value="search" style="height:30px">
  </div>	
  </form>
  </body>
</html>